# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.streamlit/secrets.toml

# Large raw data files (too big for GitHub)
rossmann_base_cleaned.csv
sample_submission.csv

# W&B
wandb/

# Misc
implementation_plan.md
task.md
